body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

/* header */
.header {
    width: 100%;
    height: 60px;
}

.header_menu {
    width: 65%;
    padding: 14px 0;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    background: url(../images/logo@2x.c05a558a.png);
    background-size: 100% 100%;
    width: 108px;
    height: 31px;
    display: block;
}

.header_option {
    float: right;
    display: flex;
}

.header_option a {
    text-decoration: none;
    color: black;
}

.a_option {
    flex: 0 0 auto;
    margin: 0 54px 0 0;
}

/* slide show */
.slide_show img {
    height: 720px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    color: #fff;
    background-position: 50% 0;
}

.circle {
    border: 1px solid white !important;
    width: 100px;
}

.carousel-control-prev {
    border: 1px solid white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top: 50%;
    left: 17%;
    background: rgba(2, 2, 2, .45);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: black;
}

.carousel-control-next {
    border: 1px solid white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top: 50%;
    right: 17%;
    background: rgba(2, 2, 2, .45);
}

/* about us */
.about_us {
    background: #f8f9fa;
    padding: 67px 0 100px;
}

.about_us_content {
    width: 65%;
    margin: auto;
}

.about_us_content_top {
    margin: auto;
    margin-bottom: 42px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.about_us_content_bot {
    display: flex;
    justify-content: space-between;
}

.about_us_content_bot .content {
    background: url(../images/wdwd-item-bg@2x.ca044f88.png);
    background-size: 100% 100%;
    width: 389px;
    height: 449px;
    padding: 76px 40px 0;
    box-sizing: border-box;
    text-align: center;
    display: grid;
}

.about_us_content_bot .content img {
    background-size: 100% 100%;
    margin: 0 auto 20px;
    width: 179px;
    height: 109px;
}

/* new games */
.new_games {
    width: 100%;
    height: 580px;
    color: #fff;
    box-sizing: border-box;
    position: relative;
    background: url(../images/game-carousel-bg-aov.a51b0750.jpg);
}

.new_games p {
    width: 290px !important;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: auto;
    text-align: center;
    padding: 50px 0;

}

/* communication game */
.communication {
    width: 100%;
    background: url(../images/platforms_bg.34b89957.jpg) 50% 0 no-repeat;
}

.content {
    width: 65%;
    height: 1863px;
    padding: 73px 0 0;
    box-sizing: border-box;
    margin: auto;
}

.content_communication {
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0 0 177px;
}

.chang_back {
    padding: 0 0 0 95px;
    display: flex;
}

.chang_back_left {
    position: relative;
    top: 100px;
    width: 534px;
}


h3 {
    color: red;

}

.mau {
    display: flex;
}


.Light,
.Dark,
.Game,
.Mic {
    width: 80px;
    height: 80px;
    background-color: white;
    border: 1px solid #b4b9c0;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    padding: 26px 0;
    font-size: 18px;
    font-weight: 800;
    margin-right: 40px;
    margin-top: 40px;
    cursor: pointer;
}

.Light,
.Game {
    background: linear-gradient(-180deg, #f55, #f33939);
    color: white;
}

.chang_back_right {
    position: relative;
    width: 587px;
    height: 898px;
    background: url(../images/iphone@2x.b3dbf7bb.png);
    background-size: 100% 100%;
    overflow: hidden;
    z-index: 1;
}

.chang_back_right img {
    position: absolute;
    top: 92px;
    left: 104px;
    width: 334px;
}

.garena_pc {
    display: flex;
    width: 84% !important;
    left: -190px;
    position: relative;
}

.garena_pc_right {
    margin-top: 100px;
    width: 450px;
    margin-left: 125px;
}

.Career_Garena {
    width: 100%;
    height: 100%;
    display: flex;
}

.Career_Garena_left {
    margin-left: 330px;
    width: 557px;
    height: 500px;
    position: relative;
    top: 140px;
}

.Career_Garena_right {
    background: url(../images/career_bg@2x.6335d84a.jpg) 0 50%;
    width: 950px;
    background-size: cover;
}

.Career_Garena_right_child img {
    position: relative;
    left: 120px;
    top: 90px;
    width: 606px;
    height: 296px;
}

hr {
    margin: 0;
    padding: 0;
}

/* footer */
.footer {
    width: 100%;
    display: flex;
}

.footer_content {
    margin: auto;
    width: 1240px;
    padding: 63px 0 0;
}

.footer_content .top {
    padding: 0 0 58px;
    border-bottom: 1px solid #eee;
    display: flex;
}

.footer_content .top .top_left {
    width: 552px;
}

.footer_content .top .top_left img {
    height: 48px;
    margin-bottom: 32px;
}

.footer_content .top .top_left p {
    color: rgba(22, 24, 26, .5);
    line-height: 2;
    margin: 0;
    width: 552px;
}

.footer_content .top .top_right {

    color: rgba(22, 24, 26, .5);
    line-height: 2;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.top_right_l,
.top_right_r {
    width: 110px;
}

.top_right_l {
    margin: 13px 0 0 160px;
}

.top_right_r {
    margin: 13px 0 0 100px;
}

.top_right_l p,
.top_right_r p {
    margin: 0;
    color: black;
}

.footer_content .bot {
    align-items: center;
    padding: 18px 0;
    display: flex;
}

.rule_policy {
    display: flex;
    position: absolute;
    right: 200px;
    float: right;
}

.rule,
.policy {
    margin: 0 48px 0 0;
}



.button_top {
    width: 64px;
    height: 64px;
    background: rgba(0, 0, 0, .25);
    border-radius: 50%;
    z-index: 1;
    position: sticky;
    bottom: 4%;
    left: 90%;
}

.button_top img {
    width: 60%;
    margin: 12px;
}